.content{
    background: #7D71D8;
    padding: 30px;
}

.authorsContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.authors__title{
    font-weight: bold;
    color: white;
}

.emptyContentText{
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: bold;
}