.content{
    background: #7D71D8;
    padding: 1.5em;
}

.authorsContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.authors__title{
    font-weight: bold;
    color: black;
}

.emptyContentText{
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.div__about__like{
    display: flex;
    justify-content: space-between;
}

.like{
    font-size: 20px;
}

.like__onClick{
    color: #3415B0;
}

.like__notClick{
    color: black;
}