.footer{
    background-color: #493BA8;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
}

.footer__title__author{
    align-self: center;
}

.contactsBlock{
    padding-right: 1.2em;
}

.contactsBlock__info{
    display: flex;
    flex-direction: column;
}