.header{
    background: #493BA8;
    padding: 2.5em 0;
    height: auto;
}

.header__title{
    align-self: center;
}

.headerDiv{
    display: flex;
    justify-content: space-between;
}

.siderTitleBooks{
    margin-left: 75px;
}

.iconBook{
    font-size: 50px;
    align-self: center;
    color: white;
    padding-right: 0.5em;
}