.formItem__label label{
    color: white;
    font-size: 16px;
}

.submitButton{
    background: #9B8EFF;
    color: white;
    border: none;
    font-size: 16px;
    width: 100% 
}

.submitButton:hover, .submitButton:focus{
    border-color: #48036F;
    background: #8176d5;
}

.formInput{
    background: #9B8EFF;
    border: none;
}