.sider{
    padding: 0 1.5em;
    background-color: #493BA8;
    min-height: 100vh;
}

.search__title{
    text-align: center;
    margin-top: 1.5em;
}

.siderDivTypography{
    margin-top: 1.6em;
}

.siderTitleSearch{
    margin-top: 0;
    margin-bottom: 0 !important;
}

.hrStyle{
    width: 50%;
    margin: 0;
}

.cardLikeBooksList{
    margin-top: 2.5em;
    background: #9B8EFF;
    color: white;
    font-weight: bold;
    width: 420px;
}

.likeBooksList{
    display: flex;
    flex-direction: column;
}

.titleLikeList{
    font-size: 18px;
    margin-bottom: 1.5em;
}