.content{
    background: #D5B5E7;
    padding: 30px;
}

.authorsContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.authors__title{
    font-weight: bold;
    color:black;
}

.emptyContentText{
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}