@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.ant-typography + h2.ant-typography{
    margin-top: 0;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: #FFEE73;
}

.ant-select-selection-placeholder {
    color: #6f6a6f;
}